body {
      font-family: 'Cairo', sans-serif;
      background-color: #fff9f5;
      margin: 0;
      padding: 0;
      color: #cf965f;
    }

    header {
      background-color: #f5e3d39a;
      padding: 20px;
      text-align: center;
    }

    header h1 {
      margin: 0;
      color: #e09a88;
    }

    .container {
      max-width: 900px;
      margin: 30px auto;
      padding: 20px;
      background: #ffffff;
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    }

    h2 {
      border-bottom: 1px solid #f3d6c8;
      padding-bottom: 5px;
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
      margin-top: 15px;
    }

    textarea, input[type="time"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
      border: 1px solid #e6d6c8;
      background-color: #fff7f4;
      resize: vertical;
      color: #cf965f;
    }

    .checkboxes label {
      display: block;
      margin-bottom: 5px;
    }

    .emotions label {
      margin-right: 15px;
    }